/* The body */
body {
  font-family: Futura;
}

/* The header section */
.headerBanner {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5px;
}

h1 {
  color: darkolivegreen;
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

/* container */
.content {
  display: flex;
  flex-direction: row;
  /* min-height: 100vh; */
  text-align: center;
}

/* pressed */
.pressed {
  color: darkolivegreen;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  padding: 0 0 10px 0;
}

.box {
  background-color: darkolivegreen;
  color: #fff;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  /* border: 1px solid darkolivegreen; */
  align-content: center;
  flex-grow: 1;
  padding: 1px;
}
