/* The body */
body {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
}

/* The header section */
.headerBanner {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

/* content container */

.content {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

ul {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* footer */
.myFooter {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: small;
}

/* pressed
.pressed {
  color: darkolivegreen;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  padding: 0 0 10px 0;
}

.box {
  background-color: darkolivegreen;
  color: #fff;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  /* border: 1px solid darkolivegreen; */
/* align-content: center;
  flex-grow: 1;
  padding: 1px;
} */
